.projects {
  background: #204060;
  padding: 100px 0;
  color: #fff;
}
.projects__container {
  width: 1200px;
  margin: 0 auto;
}

.projects__container__flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.projects__container__flex__box {
  width: 33.33333333333333%;
}
.base {
  background: #1f2235;
}

.projects__box {
  padding: 40px;
  background: #23263a;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}
.projects__box:hover {
  background: #204060;
}
.commonIcons {
  font-size: 20px;
  color: #ff4a57;
}
.projects__box-p-subheading {
  font-size: 14px;
  color: #ff4a57;
}
.projects__box:hover .commonIcons {
  color: #fff;
}
.projects__box:hover .projects__box-p-subheading {
  color: #fff;
}
.projects__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-left: "2vw";
  display: inline;
}
.projects__box-p {
  font-size: 14px;
  color: #dfdfdf;
  padding: 2vw;
}

@media (max-width: 765px) {
  .projects__container {
    width: 100%;
    padding: 0 50px;
  }

  .projects__container__flex__box {
    width: 85%;
  }
}
