.skills {
  width: 100%;
  background: #1f2235;

  padding: 100px 0;
}
.skills__container {
  width: 1200px;
  margin: 0 auto;
}
.base {
  background: #1f2235;
}
.skillsrow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 765px) {
  .skills__container {
    width: 100%;
    padding: 0 50px;
  }
}
