.contact {
  padding: 100px 0;
  background: #23263a;
}

.contact__container {
  width: 1200px;
  margin: 0 auto;
}

.contact__container__flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.contact__container__flex__box {
  width: 50%;
}

.contactCircles {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
}
.contactCircles li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1f2235;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.justifyCenter {
  justify-content: center;
}

.contactCircles li:hover {
  background: #ffdb4d;
}

@media (max-width: 765px) {
  .contact__container {
    width: 100%;
    padding: 0 50px;
  }
  .contact__container__flex__box {
    width: 100%;
  }
}
