.mainHeader {
  font-size: 2.5vw;
  margin-bottom: 20px;
  color: #fff;
}
.mainContent {
  font-size: 1.2vw;
  color: #dfdfdf;
}
.commonBorder {
  background: #ffdb4d;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

@media (max-width: 765px) {
  .common {
    width: 100%;
  }
}
