* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins ", sans-serif;
}
.root {
  width: auto;
}
@media screen and (min-width: 768px) and (max-width: 11204px) {
  .root {
    width: 100vw;
  }
}
