.about {
  width: 100%;
  background: #1f2235;
  padding: 100px 0;
}
.about__container {
  width: 1200px;
  margin: 0 auto;
}

.about__container__flex {
  display: flex;
  width: 100%;

  background: #204060;
  padding: 4vw;
}
.about__container__flex__box {
  width: 100%;
}

.title {
  color: #ffdb4d;
  float: center;
}

.alignCenter {
  align-items: center;
}
.about__info {
  color: #fff;
  width: 100%;
}
.about__info h1 {
  margin-bottom: 30px;
  align-items: center;
}
.about__info-p1 {
  font-size: 18px;
  margin-bottom: 20px;
}
.about__info-p2 {
  font-size: 18px;
}
.info__contacts {
  margin-top: 16px;
}
.info__contacts strong {
  color: #ffdb4d;
}
.info__contacts p {
  margin-top: 3px;
}
.info__contacts .col-6 {
  margin: 10px 0;
}
.container__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 765px) {
  .about__container {
    width: 100%;
    padding: 0 50px;
  }
  .container__grid {
    display: block;
  }
}
